// Header
.social-links{
    a{
        padding: .5rem 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 25px;
    }
}
header{
    .navbar-brand{
        margin: 0;
        img{
            @media (max-width: 575px) {
    
                width: 100px;
            }
            @media (min-width:1200px ) and (max-width:1414px){
                width: 154px;
            }
            width: 200px;
        }
    }
    @media (min-width:1200px ) and (max-width:1414px){
        .social-links{
            display: none;
        }
    }
    
    .active{
        
        a{
            color: $secondaryColor !important;
        }
    }
    
    a{
        font-size: $defaultFontSize - 2;
        font-weight: 600;
        position: relative;
        &::before{

            position: absolute;
            color: $secondaryColor;
            top: 8px;
            @media (min-width:1201px){
                right: 8px;
            }
            right: 0;
            overflow: hidden;
            content: attr(alt);
            transition: all 0.3s;
            transform: scale(0.8);
            opacity: 0;
            transform: scale(1.2);
        }
        &:hover{
            &::before{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}